* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #F0F6FF;
}

h1,
h2,
h3,
h4 {
    color: #000000;
    font-weight: 600;
    font-style: normal;
    line-height: 160%;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
p{
    color: #000000;
    font-family: 'Hind', sans-serif;
}
