.imageName{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.imageName img{
    margin-right: 1rem;
    width: 121px;
    height: 131px;    
}

.table{
    font-family: 'Montserrat', sans-serif;
}